[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/eas-contracts"]
	path = lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
